*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --header-background: #006AB9;
    --light-Mode: #F2F2F2;
}
body{
    background-color: var(--light-Mode);
}
/* -------------------- STD HEADER ---------------------- */

/* ---------------------- STD HEADER END ---------------- */

/* ---------------------- HOME PAGE MAIN ELEMENT -------- */
.homepageMainEl{
    margin-top: 45px;
}