.stdHeader{
    background-color: var(--header-background);
    font-family: sans-serif;
    height: 45px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 20px;
    display: flex;
}
/* Roblox sideBar menu btn */
.navContainer .sidebarDropdownBtn{
    background-image: url(assets/img/sidebarbtnIcon.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;

    background-color: transparent;
    border: none;
    width: 45px;
    height: 100%;
}
/* Roblox Logo */
.navContainer .robloxIcon{
    width: 130px;
    height: 100%;
    margin-right: 25px;
    background-image: url(./assets/img/RobloxLogo.png);
    background-size: cover;
    background-position: center;
}
/* Navigation Container */
.navContainer{
    display: flex;
    height: 100%;
}
.navContainer div{
    display: flex;
    height: 100%;
}
.navContainer nav{
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
.navContainer nav a{
    padding: 0 20px;
    font-size: 14px;
    color: white;
}
/* SearchBar */
.navContainer form{
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
}
.navContainer form input{
    height: 28px;
    width: 100%;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    text-indent: 10px;
    outline: none;
}
/* Settings Icon */
.settingsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.settingsContainer button{
    height: 100%;
    background-color: transparent;
    border: none;
}
.settingsContainer button img{
    height: 85%;
}
/* Robux icon */
.settingsContainer div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;
}
.settingsContainer div img{
    height: 60%;
}

@media (max-width: 1250px) {
    /* header */
    .stdHeader{
        padding: 0 5px;
    }
    /* SidebarBtn */
    .navContainer .sidebarDropdownBtn{
        display: block;
        margin-right: 5px;
    }
    /* Roblox icon */
      .navContainer .robloxIcon{
        background-image: url(assets/img/smallerLogo.webp);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
      }
      .navContainer form{
        width: 350px;
      }
    /* Robux Amount */
    .settingsContainer div p{
        display: none;
    }
    .settingsContainer{
        gap: 5px;
    }
    /* Roblox navigation */
    .navContainer nav a{
        padding: 0 10px;
    }
    /* roblox search */
    .navContainer form{
        padding: 0 5px;
    }
} 